<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />

    <title>Devour It! Pie-ventures</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/pies.js"></script>
    <link rel="stylesheet" href="../../public/assets/css/devourit_style.css">
</head>

<body>
    <div class="container" id="piebackground">
        {{{ body }}}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>