<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />

    <title>Devour It! Pie-ventures</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/assets/css/devourit_style.css">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/pies.js"></script>

</head>

<body>
    <div class="container">
        <div class="section" id="piebackground">
            {{{ body }}}
        </div>
    </div>

    <footer class="page-footer deep-purple lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Pies!</h5>
                    <p class="grey-text text-lighten-4">Eat every pie your heart desires! Or some it doesn't...</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://www.clipartpanda.com/" target="_blank">Icon Clipart</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" href="https://unsplash.com/" target="_blank">Background Image</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/origamiunicorn/devourit" target="_blank">GitHub
                                Repo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright deep-purple lighten-2">
            <div class="container">
                © 2020 Copyright Hungry Hungry Puggos
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>