<li>
    {{pieName}} Pie

    <button class="devoured-state waves-effect deep-purple lighten-2 btn-small" data-id="{{id}}"
        data-newdevour="{{devoured}}">
        {{#if devoured}}DEVOUR!{{else}}MAKE!{{/if}}
    </button>
</li>